body {
   font-family:sans-serif;
   font-size: 25px;
   line-height: 1.5;
   background-color: #f7f7f7;
   color: black;
   margin: 0;
}
h3 {
  text-align: center;
  font-size: 50px;

}
h4 {
  text-align: center;
  font-style: italic;

}

/* image showcase*/
img {
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
}
#main {

}
#img-div {
  position: relative;
  font-size: 0;
}

#img-caption {

    text-align: center;
    color: #f7f7f7;
    margin: 0;
    padding: 0;


}
.logo {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 40%;
  height: auto;

}

/*boxes*/

#tribute-info {
  padding: 5px;
  margin: auto;
  width: 90%;
  padding-top: 0;

}
#TWT {

  padding: 5px;

  width: 90%;
  margin: auto;
  text-align: center;
}
#TWTlinks {
  width: 90%;
  height: auto;
  margin: auto;
  text-align: center;

}

.boximg {
  width: 50%;
  max-width: 800px;
  height: auto;
  float:left;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.boximg2 {
  width: 50%;
  max-width:800px;
  height:auto;
  float:  right;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}



.albums {
  width: 90%;

  height: auto;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.A1 {
  margin: 15px;
}

.A2 {
  margin: 15px;
}
.A3 {
  margin: 15px;
}
.A4 {
  margin: 15px;
}
.A5 {
  margin: 15px;
}
.A6 {
  margin: 15px;
}
.A7 {
  margin: 15px;
}

#TJSF {
  background-color: #c0ffe9;

  margin:auto;
  width: 90%;
  height: auto;
  border-radius: 25px;
  text-align: center;

}

#TJSFimage {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
  height: auto;
}



footer {
  background-color: black;
  padding: 5px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 768px) {

  .boximg2, .boximg {
    float: none;
    width: 100%
  }
}
